Importing required libraries

In [ ]:
import pandas as pd
import numpy as np 

import re

import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns
from wordcloud import WordCloud

###### Data Clean
- Parse words
- Remove all special characters
- Cleaned formatting

In [ ]:
# Loading dataset using Pandas DataFrame.
df = pd.read_csv('indeed_job_dataset_200.csv')
type (df)

pandas.core.frame.DataFrame

In [ ]:
# Check to data shape, Total number of columns and row.
df.shape

(5714, 43)

In [ ]:
df['Description'].head(2)

0    [<p><b>POSITION SUMMARY</b></p>, <p>\r\r\nThe ...
1    [<p><b>What do we need?</b></p>, <ul><li>\r\r\...
Name: Description, dtype: object

In [ ]:
pd.set_option('display.max_columns', 43)
df.head(5)

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,Date_Since_Posted,Description,Location,Company_Revenue,Company_Employees,Company_Industry,python,sql,machine learning,r,hadoop,tableau,sas,spark,java,Others,CA,NY,VA,TX,MA,IL,WA,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,1.0,"[<p><b>POSITION SUMMARY</b></p>, <p>\r\r\nThe ...",MO,More than $10B (USD),"10,000+",Health Care,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,15.0,"[<p><b>What do we need?</b></p>, <ul><li>\r\r\...",TX,NaN,NaN,NaN,1,1,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,1.0,"[<ul><li>Validate, analyze, and conduct statis...",OR,NaN,NaN,NaN,1,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,30.0,"[<p>Full time</p>, <p>Washington, DC metro are...",DC,NaN,NaN,Government,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,30.0,[<ul><li>Assist in consultations with business...,TX,NaN,"Less than 10,000",Banks and Financial Services,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [ ]:
# Get the summary of DataFrame.
list(df.columns)

['Unnamed: 0',
 'Job_Title',
 'Link',
 'Queried_Salary',
 'Job_Type',
 'Skill',
 'No_of_Skills',
 'Company',
 'No_of_Reviews',
 'No_of_Stars',
 'Date_Since_Posted',
 'Description',
 'Location',
 'Company_Revenue',
 'Company_Employees',
 'Company_Industry',
 'python',
 'sql',
 'machine learning',
 'r',
 'hadoop',
 'tableau',
 'sas',
 'spark',
 'java',
 'Others',
 'CA',
 'NY',
 'VA',
 'TX',
 'MA',
 'IL',
 'WA',
 'MD',
 'DC',
 'NC',
 'Other_states',
 'Consulting and Business Services',
 'Internet and Software',
 'Banks and Financial Services',
 'Health Care',
 'Insurance',
 'Other_industries']

In [ ]:
#Get the dataFrame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5715 entries, 0 to 5714
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        5715 non-null   int64
 1   Job_Title                         5715 non-null   object
 2   Link                              5715 non-null   object
 3   Queried_Salary                    5715 non-null   object
 4   Job_Type                          5715 non-null   object
 5   Skill                             5483 non-null   object
 6   No_of_Skills                      5715 non-null   int64
 7   Company                           5611 non-null   object
 8   No_of_Reviews                     4753 non-null   float64
 9   No_of_Stars                       4753 non-null   float64
 10  Date_Since_Posted                 5611 non-null   float64
 11  Description                       5413 non-null   object
 12  Location                          5463 non-null   object
 13  Company_Revenue                   2017 non-null   object
 14  Company_Employees                 3199 non-null   object
 15  Company_Industry                  3826 non-null   object
 16  python                            5715 non-null   int64
 17  sql                               5715 non-null   int64
 18  machine learning                  5715 non-null   int64
 19  r                                 5715 non-null   int64
 20  hadoop                            5715 non-null   int64
 21  tableau                           5715 non-null   int64
 22  sas                               5715 non-null   int64
 23  spark                             5715 non-null   int64
 24  java                              5715 non-null   int64
 25  Others                            5715 non-null   int64
 26  CA                                5715 non-null   int64
 27  NY                                5715 non-null   int64
 28  VA                                5715 non-null   int64
 29  TX                                5715 non-null   int64
 30  MA                                5715 non-null   int64
 31  IL                                5715 non-null   int64
 32  WA                                5715 non-null   int64
 33  MD                                5715 non-null   int64
 34  DC                                5715 non-null   int64
 35  NC                                5715 non-null   int64
 36  Other_states                      5715 non-null   int64
 37  Consulting and Business Services  5715 non-null   int64
 38  Internet and Software             5715 non-null   int64
 39  Banks and Financial Services      5715 non-null   int64
 40  Health Care                       5715 non-null   int64
 41  Insurance                         5715 non-null   int64
 42  Other_industries                  5715 non-null   int64
dtypes: float64(3), int64(29), object(11)
memory usage: 1.9+ MB

In [ ]:
#Removing Duplicates

df = df.drop_duplicates(subset=['Job_Title','Job_Type','Description','Location'])
print(df.shape)

(5355, 43)

In [ ]:
df.isnull().sum()

Unnamed: 0                            1
Job_Title                             1
Link                                  1
Queried_Salary                        1
Job_Type                              1
Skill                                11
No_of_Skills                          1
Company                               1
No_of_Reviews                        27
No_of_Stars                          27
Date_Since_Posted                     1
Description                          17
Location                              1
Company_Revenue                     151
Company_Employees                   105
Company_Industry                     62
python                                1
sql                                   1
machine learning                      1
r                                     1
hadoop                                1
tableau                               1
sas                                   1
spark                                 1
java                                  1
Others                                1
CA                                    1
NY                                    1
VA                                    1
TX                                    1
MA                                    1
IL                                    1
WA                                    1
MD                                    1
DC                                    1
NC                                    1
Other_states                          1
Consulting and Business Services      1
Internet and Software                 1
Banks and Financial Services          1
Health Care                           1
Insurance                             1
Other_industries                      1
dtype: int64

In [ ]:
#Skills and Description are important parameters in the model,hence there shouldnt be any null value for these feartures
#Before we detect the skills from description , we need to standardize the description features
import re as re
from nltk.stem.wordnet import WordNetLemmatizer
#Converting the Descrition feature into String type
df['Description']=df['Description'].apply(str)
#Removing tags from description
def remove_tags(string) :
  #Convert to lower case
  string = string.lower()
  #Remove Special Characters
  result = re.sub('(\\d|\\W)+','',string)
  #Remove Tags
  result = result = re.sub('<.*?>','',string)
  result = result.replace('\r','')
  result = result.replace('\n','')
  result = result.strip()
  return result
df['Description'] = df['Description'].apply(lambda cw : remove_tags(cw))
df['Description'].head()

0    [position summary, the business analyst role i...
1    [what do we need?, you to have an amazing pers...
2    [validate, analyze, and conduct statistical an...
3    [full time, washington, dc metro area, startin...
4    [assist in consultations with business partner...
Name: Description, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords

!pip install -q wordcloud
import wordcloud

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 
stop = stopwords.words('english')
df['Description'].apply(lambda x: [item for item in x if item not in stop])

# remove words less than three letters
#df['Description'].apply(lambda x :[word for word in text if len(word) >= 3]
docs = df['Description']
#instantiate CountVectorizer() 
cv=CountVectorizer(max_df=0.95,max_features=10000,ngram_range=(1,3)) 
 
# this steps generates word counts for the words in your docs 
word_count_vector=cv.fit_transform(docs)
word_count_vector.shape

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

TypeError: ignored

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords

!pip install -q wordcloud
import wordcloud

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 
stop = stopwords.words('english')
df['Description'].apply(lambda x: [item for item in x if item not in stop])

# remove words less than three letters
#DataFrame['Description'].apply(lambda x :[word for word in text if len(word) >= 3]
docs = df['Description']
#instantiate CountVectorizer() 
cv=CountVectorizer(max_df=0.95,max_features=10000,ngram_range=(1,3)) 
 
# this steps generates word counts for the words in your docs 
word_count_vector=cv.fit_transform(docs)
word_count_vector.shape

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

TypeError: ignored

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True) 
tfidf_transformer.fit(word_count_vector)

# print idf values 
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"]) 
 
# sort ascending 
df_idf.sort_values(by=['idf_weights'])

In [ ]:
#words = [w for w in words if not w in stopwords.words("english")]
#words

In [ ]:
def clean_text(raw):
    try:
        # Remove new line.
        raw = raw.replace('\r', '')
        raw = raw.replace('\n', '')
        
        # Remove brackets.
        raw = raw.replace('[', '')
        raw = raw.replace(']', '')
        raw = raw.replace(')', '')
        raw = raw.replace('(', '')
        
        # Remove html tags.
        clean_html = re.compile('<.*?>')
        clean_text = re.sub(clean_html, ' ', raw)
        
        # Remove duplicate whitespace.
        clean_text = re.sub(" +", " ", clean_text) 
        
        # Stripping first and last white space.
        clean_text = clean_text.strip()
        
        # Remove multiple commas.
        clean_text = re.sub(" , ", ", ", clean_text) 
        
        # Remove the extra comma after a period
        clean_text = clean_text.replace('.,', '.')
        
        # using try and except due to Nan in the column
    except:
        clean_text = np.nan
        
    return clean_text

In [ ]:
df_desc = df_desc.apply(clean_text)
df_desc
#df_desc.iloc[876]

Unnamed: 0                         NaN
Job_Title                          NaN
Link                               NaN
Queried_Salary                     NaN
Job_Type                           NaN
Skill                              NaN
No_of_Skills                       NaN
Company                            NaN
No_of_Reviews                      NaN
No_of_Stars                        NaN
Date_Since_Posted                  NaN
Description                        NaN
Location                           NaN
Company_Revenue                    NaN
Company_Employees                  NaN
Company_Industry                   NaN
python                             NaN
sql                                NaN
machine learning                   NaN
r                                  NaN
hadoop                             NaN
tableau                            NaN
sas                                NaN
spark                              NaN
java                               NaN
Others                             NaN
CA                                 NaN
NY                                 NaN
VA                                 NaN
TX                                 NaN
MA                                 NaN
IL                                 NaN
WA                                 NaN
MD                                 NaN
DC                                 NaN
NC                                 NaN
Other_states                       NaN
Consulting and Business Services   NaN
Internet and Software              NaN
Banks and Financial Services       NaN
Health Care                        NaN
Insurance                          NaN
Other_industries                   NaN
dtype: float64

In [ ]:
# Total number of null value.
df_desc.isna().sum()

17

In [ ]:
df['Description'].head(2)

0    [position summary, the business analyst role i...
1    [what do we need?, you to have an amazing pers...
Name: Description, dtype: object

In [ ]:
# Total number of missing /null value 302
df_desc = pd.DataFrame(df_desc)
df_desc.dropna(inplace = True)
df_desc.reset_index(inplace = True, drop = True)

In [ ]:
df_desc.isna().sum()

Description    0
dtype: int64

In [ ]:
df['Description'].head(2)

0    [<p><b>POSITION SUMMARY</b></p>, <p>\r\r\nThe ...
1    [<p><b>What do we need?</b></p>, <ul><li>\r\r\...
Name: Description, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 0 to 251
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        245 non-null    float64
 1   Job_Title                         245 non-null    object
 2   Link                              245 non-null    object
 3   Queried_Salary                    245 non-null    object
 4   Job_Type                          245 non-null    object
 5   Skill                             235 non-null    object
 6   No_of_Skills                      245 non-null    float64
 7   Company                           245 non-null    object
 8   No_of_Reviews                     219 non-null    float64
 9   No_of_Stars                       219 non-null    float64
 10  Date_Since_Posted                 245 non-null    float64
 11  Description                       229 non-null    object
 12  Location                          245 non-null    object
 13  Company_Revenue                   95 non-null     object
 14  Company_Employees                 141 non-null    object
 15  Company_Industry                  184 non-null    object
 16  python                            245 non-null    float64
 17  sql                               245 non-null    float64
 18  machine learning                  245 non-null    float64
 19  r                                 245 non-null    float64
 20  hadoop                            245 non-null    float64
 21  tableau                           245 non-null    float64
 22  sas                               245 non-null    float64
 23  spark                             245 non-null    float64
 24  java                              245 non-null    float64
 25  Others                            245 non-null    float64
 26  CA                                245 non-null    float64
 27  NY                                245 non-null    float64
 28  VA                                245 non-null    float64
 29  TX                                245 non-null    float64
 30  MA                                245 non-null    float64
 31  IL                                245 non-null    float64
 32  WA                                245 non-null    float64
 33  MD                                245 non-null    float64
 34  DC                                245 non-null    float64
 35  NC                                245 non-null    float64
 36  Other_states                      245 non-null    float64
 37  Consulting and Business Services  245 non-null    float64
 38  Internet and Software             245 non-null    float64
 39  Banks and Financial Services      245 non-null    float64
 40  Health Care                       245 non-null    float64
 41  Insurance                         245 non-null    float64
 42  Other_industries                  245 non-null    float64
dtypes: float64(32), object(11)
memory usage: 84.6+ KB

In [ ]:
# Convert all to lower case and split words
from nltk.corpus import stopwords

#df_desc['lower_description'] = df_desc.Description.str.lower()
lower_case = df_desc.Description.str.lower()  # Convert to lower case
words = lower_case.str.split()               # Split into words
words

0      [position, summary,, the, business, analyst, r...
1      [what, do, we, need?,, you, to, have, an, amaz...
2      [validate,, analyze,, and, conduct, statistica...
3      [full, time,, washington,, dc, metro, area,, s...
4      [assist, in, consultations, with, business, pa...
                             ...
224    [innovate., collaborate., shine., lighthouse, ...
225    [company:, arvato, digital, services, llc, -, ...
226    [innovate., collaborate., shine., lighthouse, ...
227    [innovate., collaborate., shine., lighthouse, ...
228    [implement, large-scale, data, ecosystems, inc...
Name: Description, Length: 229, dtype: object

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
# Remove english stop words

## import nltk
# nltk.download()

from nltk.corpus import stopwords # Import the stop word list
test = stopwords.words("english")
test

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
import re  # For preprocessing
import pandas as pd  # For data handling
from time import time  # To time our operations
from collections import defaultdict  # For word frequency
import spacy  # For preprocessing
from gensim.models.phrases import Phrases, Phraser
#print(df.dtypes)
print(df['Description'].dtypes)
sent = [str(row).split() for row in df['Description']]
#print (sent)
phrases = Phrases(sent, min_count=30, progress_per=10000)

object

In [ ]:
sentences = sent #bigram[sent]
word_freq = defaultdict(int)
for s in sentences:
    for i in s:
        word_freq[i] += 1
len(word_freq)

11911

In [ ]:
sorted(word_freq, key=word_freq.get, reverse=True)[:10]

['and', 'to', 'the', 'of', 'in', 'a', 'data', 'with', 'or', 'for']

In [ ]:
import multiprocessing
from gensim.models import Word2Vec
cores = multiprocessing.cpu_count()

In [ ]:
w2v_model = Word2Vec(min_count=20,
                     window=2,
                     size=300,
                     sample=6e-5, 
                     alpha=0.03, 
                     min_alpha=0.0007, 
                     negative=20,
                     workers=cores-1)

In [ ]:
t = time()
w2v_model.build_vocab(sentences, progress_per=10000)
print('Time to build vocab: {} mins'.format(round((time() - t) / 60, 2)))

Time to build vocab: 0.0 mins

In [ ]:
t = time()
w2v_model.train(sentences, total_examples=w2v_model.corpus_count, epochs=30, report_delay=1)
print('Time to train the model: {} mins'.format(round((time() - t) / 60, 2)))

Time to train the model: 0.05 mins

In [ ]:
w2v_model.wv.most_similar(positive=["machine"])

[('statistical', 0.9955878257751465),
 ('learning,', 0.9953383207321167),
 ('modeling,', 0.9907042980194092),
 ('programming', 0.9903129935264587),
 ('knowledge', 0.9897602200508118),
 ('learning', 0.9890963435173035),
 ('using', 0.9877902865409851),
 ('regression,', 0.98774254322052),
 ('language', 0.9869343638420105),
 ('such', 0.9831910133361816)]

In [ ]:
w2v_model.wv.most_similar(positive=["communication"])

[('written', 0.999154806137085),
 ('excellent', 0.9981745481491089),
 ('skills', 0.9975196719169617),
 ('presentation', 0.9975178241729736),
 ('applications,', 0.9973074197769165),
 ('concepts', 0.9972285032272339),
 ('strong', 0.9970403909683228),
 ('models,', 0.9969161152839661),
 ('verbal', 0.996904730796814),
 ('common', 0.9966981410980225)]

In [ ]:
w2v_model.wv.most_similar(positive=["data"])

[('modeling', 0.9856635332107544),
 ('analytics', 0.9828342795372009),
 ('complex', 0.9811112284660339),
 ('statistical', 0.9743896722793579),
 ('using', 0.9727662801742554),
 ('knowledge', 0.9709545373916626),
 ('cleaning,', 0.9696717262268066),
 ('models', 0.9668748378753662),
 ('unstructured', 0.9662361741065979),
 ('modeling,', 0.9650071263313293)]

In [ ]:
w2v_model.wv.most_similar(positive=["build"])

[('product', 0.9990051984786987),
 ('across', 0.997504711151123),
 ('improve', 0.9972037076950073),
 ('capabilities', 0.9967969655990601),
 ('internal', 0.9960457682609558),
 ('support', 0.9953798651695251),
 ('client', 0.9950597882270813),
 ('identify', 0.9942275881767273),
 ('projects', 0.9940832853317261),
 ('new', 0.9939902424812317)]